*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}

/*  header*/

header img{
    width: 7%;
    margin-left: 4rem;
}

header{
    background-color: brown;
    padding: 1.8rem;
}
.head{
    display: flex;
    justify-content: end;
    margin-right: 5rem;
}
.div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head li a{
    color: white;
    margin-right: 4rem;
    font-size: 1.3rem;
    align-items: center;
}
.head li a:hover{
    color: rgba(12, 5, 6, 0.308);
    transition: 0.8s;
}
.botaohed button{
    color: white;
    background-color: transparent; 
    width: 18vh;
    height: 5vh;
    cursor: pointer;
  
}

.botaohed button:hover{
    background-color: white;
    color: black;
    transition: 0.8s;
}
/* secção 1 */

.section{
    padding: 15rem;
    background-image: url(imagens/lego\ sesao\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.section div{
    font-size: 2.5rem;
    margin-top: -5rem;
}
.hr1{
    width: 9rem;
    height: 0.2rem;
    background-color: black;
    border-radius: 15px;
}

/* secção 2 */

.section2{
    padding: 2.8rem;
    background-color: grey;
}
.section2 h2{
    text-align: center;
    font-size: 2.8rem;
    
}
.hr2{
    margin: 0 auto;
    width: 4rem;
    height: 0.2rem;
    background-color: black;
    border-radius: 15px;
}
.pai{
    padding: 5rem;
    display: flex;
    margin-top: -3rem;
}
.pai div{
    background-color: rgb(203, 211, 211);
    width: 20rem;
    height: 25rem;
    text-align: center;
    margin-right: 2rem;
    box-shadow: 4px 4px 6px black;
 
}
.pai div:hover{
    box-shadow: 4px 4px 6px white;
    transition: 0.8s;
    cursor: pointer;
}
.pai div img{
    width: 20rem;
    height: 13rem;
}
.hr2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.pai div p{
    font-size: 1.5rem;
    
}


/* section 3 */

.section3{
    display: flex;
    background-color: white;
}

.section3 div img{
    width: 50vw;
    height: auto;
}

.about{
    width: 40vw;
    height: 40vh;
    text-align: center;
    margin: auto ;
}
.about h2{
    font-size: 1.8rem;
    padding: 2rem;
    color: rgba(0, 0, 0, 0.863)

}
.about p{
    font-size: 1.1rem;
    text-align: center;
}

/* section 4 */

.section4{
    background-color: grey;
    padding: 8rem;
    text-align: center;
}
.section4 h2{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: white;
}
.section4 p{
    font-size: 1rem;
    color: white;
    margin-bottom: 10px;
    font-weight: 100;
}
.form{
    
}

#email{
    width: 20vw;
    height: 5vh;
    font-size: 20px;
    border-radius: 7px;
}

#btn{
    width: 10vw;
    height: 5vh;
    border-radius: 5px;
    font-size: 18px;
}
#btn:hover{
    background-color: grey;
    color: white;
    transition: 0.8s;
    cursor: pointer;
}

/* footer */

footer{
    padding: 3rem;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-around

}
.icons{
    font-size: 1.8rem;
}
.icons i{
    margin-right: 10px;
    color: black;
    padding: 8px;
    background-color: aliceblue;
    border-radius: 13px;
}
.tags nav ul{
    display: flex;
    
}
.tags nav ul li{
    margin-left: 15px;
}
.tags nav ul li a{
    color: white;
}


.icons i:hover{
    background-color: black;
    color: brown;
    transition: 0.8s;
    border-radius: 13px;
    cursor: pointer;
}


.tags nav ul li a:hover{
    color: black;
    transition: 0.8s;
}



